---
- name: Déploiement automatique de l'application Docker
  hosts: web
  become: true

  tasks:
    - name: Installer les prérequis système
      apt:
        name:
          - apt-transport-https
          - ca-certificates
          - curl
          - software-properties-common
        state: present
        update_cache: yes

    - name: Installer Docker
      apt:
        name: docker.io
        state: present

    - name: Démarrer Docker
      service:
        name: docker
        enabled: true
        state: started

    - name: Pull de l'image NGINX
      docker_container:
        name: nginx_app
        image: nginx:latest
        state: started
        restart_policy: unless-stopped
        published_ports:
          - "80:80"
